<div class="container-fluid">
  <div class="row col-md-12 justify-content-between">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header text-center">
          Création
        </div>
        <div class="card-body">
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="refsp">Référence sous projet</label>
            </div>
            <select name="" id="refsp" class="select form-control"
                    [(ngModel)]="budgetSousProjetClone.referenceSousProjet" required>
              <option selected disabled>------SELECT-------</option>
              <option *ngFor="let sp of sousProjets" value="{{sp.referenceSousProjet}}">{{sp.referenceSousProjet}}</option>
            </select>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="refea">Référence entité administratif</label>
            </div>
            <select [(ngModel)]="budgetEntiteAdmin.referenceEntiteAdministratif" id="refea" class="select form-control"
                    required>
              <option disabled selected>----------SELECT-----------</option>
              <option *ngFor="let ea of entiteAdministratif" value="{{ea.referenceEntiteAdministratif}}">{{ea.referenceEntiteAdministratif}}</option>
            </select>
            <div class="input-group-append">
              <button (click)="findAllByAnneeAndBudgetSousProjetAndBudgetEntitiAdmin()"
                      class="btn btn-outline-primary fa fa-search"></button>
            </div>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverestimatif">Crédit ouvert éstimatif</label>
            </div>
            <input type="number" [value]="_budgetEntiteAdministratifInfo?_budgetEntiteAdministratifInfo.detaillesBudgetVo.creditOuvertEstimatif:null" [(ngModel)]="detailleBudgetVo.creditOuvertEstimatif" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverestimatif"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverreel">Crédit ouvert réel</label>
            </div>
            <input type="number" [value]="_budgetEntiteAdministratifInfo?_budgetEntiteAdministratifInfo.detaillesBudgetVo.creditOuvertReel:null" [(ngModel)]="detailleBudgetVo.creditOuvertReel" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverreel"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagepaye">Engagé payé</label>
            </div>
            <input type="number" [value]="_budgetEntiteAdministratifInfo?_budgetEntiteAdministratifInfo.detaillesBudgetVo.engagePaye:null" [(ngModel)]="detailleBudgetVo.engagePaye" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="engagepaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagenonpaye">Engagé non payé</label>
            </div>
            <input type="number" [value]="_budgetEntiteAdministratifInfo?_budgetEntiteAdministratifInfo.detaillesBudgetVo.engageNonPaye:null" [(ngModel)]="detailleBudgetVo.engageNonPaye" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="engagenonpaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="row">
            <div class="col-6">
              <input id="submit" (click)="addBudgetEntiteAdmin()" class="form-control btn btn-success" value="Ajouter"
                     type="button">
            </div>
            <div class="col-6">
              <input type="button" (click)="update()" class="form-control btn btn-primary" value="Ok"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header text-center">
          List
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead class="thead">
            <tr>
              <th scope="col">REA</th>
              <th scope="col">COE</th>
              <th scope="col">COR</th>
              <th scope="col">EP</th>
              <th scope="col">ENP</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="beas.length==0">
              <td class="text-center font-italic" colspan="6">No item found</td>
            </tr>
            <tr (click)="tableBudgetEntiteAdministratifInfo(bea)" *ngFor="let bea of beas"
                [ngClass]="bea.id==0?'table-warning':'table-default'">
              <td>{{ bea.referenceEntiteAdministratif }}</td>
              <td>{{ bea.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bea.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bea.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bea.detaillesBudgetVo.engageNonPaye }}</td>
              <td class="justify-content-between">
                <button (click)="getBeaInfos(bea)" *ngIf="bea.id!=0" class="btn btn-outline-info fa fa-info mr-2"
                        data-toggle="modal"
                        data-target="#exampleModalBeaInfo"></button>
                <button (click)="deleteEntiteAdministratif(bea)" *ngIf="bea.id!=0"
                        class="btn btn-outline-danger fa fa-trash-o"></button>
                <button (click)="downloadPdf(bea)" *ngIf="bea.id!=0"
                        class="btn btn-outline-secondary fa fa-print ml-2"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalBeaInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <app-detailles [_selectedBudgetEntiteAdministratif]="selectedBea"></app-detailles>
</div>

