<div class="container" style="padding: 3%">
    <form>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la refrence de l'echelon">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Reference</div>
                        </div>
                        <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference" [(ngModel)]="echelon.reference">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2" data-toggle="tooltip" title="Entrer l'ordre de l'echelon">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Ordre</div>
                        </div>
                        <input type="text" class="form-control" id="ordre" name="ordre" placeholder="Ordre" [(ngModel)]="echelon.ordre">
                    </div>
                </div>
            </div>
            <br>
            <div class="input-group mb-2" data-toggle="tooltip" title="Entrer le libelle de l'echelon">
                <div class="input-group-prepend">
                    <div class="input-group-text">Libelle</div>
                </div>
                <input type="text" class="form-control" id="libelle" name="libelle" placeholder="Libelle"  [(ngModel)]="echelon.libelle">
            </div>
            <br>
            <button type="button" class="btn btn-outline-success" (click)="ajouterEchelon()">Ajouter</button>
        </div>
    </form>
</div>
