<div class="card">
  <div class="card-header text-center">
    Création
  </div>
  <div class="card-body">

    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="refea">Réf C-B</label>
      </div>
      <select [(ngModel)]="budgetCompteBudgitaireCreate.compteBudgitaireVo.code" id="refea" class="select form-control"
              required>
        <option >----------SELECT-----------</option>
        <option ></option>
      </select>
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="creditouverestimatif">Crédit ouvert éstimatif</label>
      </div>
      <input type="number"  [(ngModel)]="budgetCompteBudgitaireCreate.detaillesBudgetVo.creditOuvertEstimatif" class="form-control"
             aria-label="Sizing example input" min="0" step="any" required id="creditouverestimatif"
             aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="creditouverreel">Crédit ouvert réel</label>
      </div>
      <input type="number"  [(ngModel)]="budgetCompteBudgitaireCreate.detaillesBudgetVo.creditOuvertReel" class="form-control"
             aria-label="Sizing example input" min="0" step="any" required id="creditouverreel"
             aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="engagepaye">Engagé payé</label>
      </div>
      <input type="number"  [(ngModel)]="budgetCompteBudgitaireCreate.detaillesBudgetVo.engagePaye" class="form-control"
             aria-label="Sizing example input" min="0" step="any" required id="engagepaye"
             aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="engagenonpaye">Engagé non payé</label>
      </div>
      <input type="number"  [(ngModel)]="budgetCompteBudgitaireCreate.detaillesBudgetVo.engageNonPaye" class="form-control"
             aria-label="Sizing example input" min="0" step="any" required id="engagenonpaye"
             aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="code">Code</label>
      </div>
      <input type="text"  [(ngModel)]="budgetCompteBudgitaireCreate.compteBudgitaireVo.code" class="form-control"
             aria-label="Sizing example input" min="0" step="any" required id="code"
             aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="libelle">Libellé</label>
      </div>
      <input type="text"  [(ngModel)]="budgetCompteBudgitaireCreate.compteBudgitaireVo.libelle"  class="form-control"
             aria-label="Sizing example input" min="0" step="any" required id="libelle"
             aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="row">
      <button   class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#myModalCompte" (click)="ajouterNewBudgetCompteBudegtaireProjet()"><i class="fa fa-plus">Ajouter</i></button>


    </div>
  </div>
</div>
