<nav class="navbar-expand-lg navbar-light bg-light ">

  <div class="collapse navbar-collapse">
    <img class="col-md-2" src="assets/img/fstgWide.png" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="exepressionbesoins">Exepression besoins</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="reception">reception</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="magasin">magasin</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="budget">budget</a></li>
    </ul>
  </div>
</nav>
