<nav class="navbar-expand-lg navbar-light bg-light ">

  <div class="collapse navbar-collapse">
    <img class="col-md-2" src="assets/img/fstgWide.png" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="budget">Budget</a></li>

      <!--Drop down Commande -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Commande</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="commandeCreate">Create </a>
          <a class="dropdown-item"   routerLink="commandeListe">List</a>
          <a class="dropdown-item"   routerLink="paiement">Paiemment</a>
          <a class="dropdown-item"   routerLink="affectation">Affectation</a>
        </div>
      </li>
      <!--Commandes Finish-->

      <!--Drop down Evaluation Personnel -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Evaluation Personnel        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="elements">Éléments d'évaluation </a>
          <a class="dropdown-item"   routerLink="mentions">Mentions</a>
          <a class="dropdown-item"   routerLink="notes">Notes</a>
        </div>
      </li>
      <!--Evaluation Personnel Finish-->

      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="evolution">Evolution</a></li>

      <!--Drop down Exepression besoins -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Expression Besoin</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  routerLink="expressionBesoinCreate">Create </a>
          <a class="dropdown-item"   routerLink="expressionBesoinList">List</a>
          <a class="dropdown-item"   routerLink="pdf">pdf</a>
        </div>
      </li>
      <!--Exepression besoins Finish-->


      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="Livraison">Livraison</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="magasin">Magasin</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="produit">Produit</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="reception">Reception</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="etudiant-admin">Etudiants</a></li>

    </ul>
  </div>
</nav>
