<div style="font-size: small">
  <div class="navbar-light p-1" style="background-color: whitesmoke">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-8">
          <img class="img-fluid col-auto" src="assets/img/fstgWide.png">
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> B.P 549, Av.Abdelkarim Elkhattabi, Guéliz Marrakech </p>
          <p>
            <i class="fa fa-envelope mr-3"></i> doyen@fstg-marrakech.ac.ma </p>
          <p>
            <i class="fa fa-phone mr-3"></i> (+212) 524 43 34 04</p>
          <p>
            <i class="fa fa-print mr-3"></i> (+212) 524 43 31 70</p>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center  py-3" style="background-color: #31708f">© 2019 Copyright: FSTG</div>
</div>
