<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Reference commande</span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="commande.reference">
        </div>

        <button class="btn btn-block btn-outline-info fa fa-search" (click)="findCommandeItemsByCommandeReference()">Go</button>
      </div>
      <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-light"><th>Ref Produit</th><th>Qte</th><th>expression besoins</th></thead>
            <tr *ngFor="let res of commandeItems">
              <td>{{res.referenceProduit}}</td>
              <td>{{res.qte}}</td>
              <td><button class="btn btn-outline-info fa fa-plus" (click)="findExpressionBesoinItemsByProduit(res)"></button> </td>
            </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- expression besoin item --->
  <div class="col-md-7">
    <div class="card">
      <div class="card-body">
        <table class="table table-hover">
          <thead class="thead-light"><th>Entité Admin</th><th>Ref Produit</th><th>Qte</th><th>Qte commande</th><th>Affecter</th></thead>
          <tr *ngFor="let res of expressionBesoinItems">
            <td>{{res.entityAdmin}}</td>
            <td>{{res.referenceProduit}}</td>
            <td>{{res.quantiteAccorder}}</td>
            <td>{{res.quantiteCommander}}</td>
            <td><button data-toggle="modal" data-target="#AffecterModal" class="btn btn-danger fa fa-plus" (click)="setItemSelect(res)" ></button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>





<!-- Modal affectation-->
<div class="modal fade " id="AffecterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Affecter une quantite à l'élément selectionné</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <input type="number" [(ngModel)]="commandeSourceCreate.qteAffecte">
        <button class="btn btn-info fa fa-plus" (click)="affecter()"  data-dismiss="modal"> Affecter</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abondonner</button>
      </div>
    </div>
  </div>
</div>
