

   <div class="card text-center">
     <div class="card-header">CATEGORIE PRODUIT</div>
     <div class="card-body">
       <div class="row">

          <div class="col-sm-6">
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#myModalCategorie">AJOUTER</button>

          </div>

          <div class="col-sm-6">
            <div class="input-group ">

              <input type="text"   [(ngModel)]="libelleR"/>
              <button class="btn btn-outline-primary "  (click)="categorieR(libelleR)" ><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
       </div>

       <br>
       <br>
       <table class="table table-hover table-sm table-bordered">
       <thead class="thead-dark ">
       <th class="something">LABELLE</th>
       <th class="something">REFERENCE DU C-B</th>
       <th class="something">ACTION</th>
       </thead>
       <tbody>
       <tr *ngFor="let c of categories">
       <td class="something">{{c.libelle}}</td>
       <td class="something">{{c.referenceCompteBuditaire}}</td>
       <td class="something"><button class="btn btn-outline-danger" (click)="deleteCategorie(c)"><i class="fa fa-trash" aria-hidden="true"></i>
       </button></td>
       </tr>
       </tbody>
       </table>
     </div>

   </div>






   <div class="modal" id="myModalCategorie">
     <div class="modal-dialog">
       <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
           <h4 class="modal-title">CREATE PRODUIT</h4>
           <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>

         <!-- Modal body -->
         <div class="modal-body">
           <div class="input-group">
             <div class="input-group-prepend">
               <div class="input-group-text widhcat">LIBELLE</div>
             </div>
             <input type="text" [(ngModel)]="categorieProduit.libelle" class="form-control" >
           </div>

           <div class="input-group">
             <div class="input-group-prepend">
               <div class="input-group-text widhcat">reference du C-B</div>
             </div>
             <input type="text" [(ngModel)]="categorieProduit.referenceCompteBuditaire" class="form-control" >
           </div>
             <div class="form-group" style="width:70%;margin:0 auto" >
               <button type="submit" name="button" class="btn btn-info" style="margin-top:30px" (click)="saveCategorie()">insert</button>
             </div>
         </div>


       </div>

         <!-- Modal footer -->
         <div class="modal-footer">
         </div>

     </div>
   </div>





