<div class="container-fluid">
  <div class="row col-md-12 justify-content-between">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          Création
        </div>
        <div class="card-body">
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="refsp">Référence sous projet</label>
            </div>
            <select name="" id="refsp" class="select form-control"
                    [(ngModel)]="budgetSousProjetClone.referenceSousProjet" required>
              <option value="">------SELECT-------</option>
              <option value="Recherche">Recherche</option>
              <option value="Enseignant">Enseignant</option>
              <option value="Découverte">Découverte</option>
            </select>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="refea">Référence entité administratif</label>
            </div>
            <select [(ngModel)]="budgetEntiteAdmin.referenceEntiteAdministratif" id="refea" class="select form-control"
                    required>
              <option value="">----------SELECT-----------</option>
              <option value="Mathématiques">Mathématiques</option>
              <option value="Physiques">Physiques</option>
              <option value="Informatiques">Informatiques</option>
              <option value="Biologie">Biologie</option>
            </select>
            <div class="input-group-append">
              <input type="button" (click)="findAllByAnneeAndBudgetSousProjetAndBudgetEntitiAdmin()"
                     class="btn btn-outline-secondary" value="Rechercher">
            </div>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverestimatif">Crédit ouvert éstimatif</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.creditOuvertEstimatif" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverestimatif"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverreel">Crédit ouvert réel</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.creditOuvertReel" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverreel"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagepaye">Engagé payé</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.engagePaye" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="engagepaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagenonpaye">Engagé non payé</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.engageNonPaye" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="engagenonpaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div>
            <input id="submit" (click)="addBudgetEntiteAdmin()" class="form-control btn btn-success" value="Save"
                   type="button">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          List
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead class="thead">
            <tr>
              <th scope="col">REA</th>
              <th scope="col">COE</th>
              <th scope="col">COR</th>
              <th scope="col">EP</th>
              <th scope="col">ENP</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf=" budgetEntiteAdmins.length==0 && beas.length==0">
              <td class="text-center font-italic" colspan="6">No item found</td>
            </tr>
            <tr *ngFor="let bea of budgetEntiteAdmins" class="table-warning">
              <td>{{ bea.referenceEntiteAdministratif }}</td>
              <td>{{ bea.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bea.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bea.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bea.detaillesBudgetVo.engageNonPaye }}</td>
              <td>
                <button (click)="deleteBsp(bea)" class="btn btn-outline-danger fa fa-trash"></button>
              </td>
            </tr>
            <tr *ngFor="let bear of beas" class="table-info">
              <td>{{ bear.referenceEntiteAdministratif }}</td>
              <td>{{ bear.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bear.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bear.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bear.detaillesBudgetVo.engageNonPaye }}</td>
              <td>
                <button class="btn btn-outline-info fa fa-info mr-2" (click)="getBeaInfos(bear)" data-toggle="modal"
                        data-target="#exampleModalBeaInfo"></button>
                <button class="btn btn-outline-success fa fa-pencil" data-toggle="modal"
                        data-target="#exampleModalBeaUpDel"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalBeaInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Information sur <i>{{ selectedBea.referenceEntiteAdministratif
          }}</i></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 offset-md-1">
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Année: </b></label>
                <p><i>{{ selectedBea.budgetSousProjetVo.budgetFaculteVo.annee }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Référence sous projet: </b></label>
                <p><i>{{ selectedBea.budgetSousProjetVo.referenceSousProjet }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Anticident: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.antecedent }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Credit ouvert éstimatif: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.creditOuvertEstimatif }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Credit ouvert réel: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.creditOuvertReel }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Engagé payé: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.engagePaye }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Engagé non payé: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.engageNonPaye }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Reliquat non payé éstimatif: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.reliquatNonPayeEstimatif }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Reliquat non payé réel: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.reliquatNonPayReel }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Reliquat payé éstimatif: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.reliquatPayeEstimatif }}</i></p>
              </div>
            </div>
            <div class="col-md-10">
              <div class="form-row justify-content-between">
                <label><b>Reliquat payé réel: </b></label>
                <p><i>{{ selectedBea.detaillesBudgetVo.reliquatPayereel }}</i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal pour update and delete-->
<div class="modal fade" id="exampleModalBeaUpDel" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="credouvrestmod">Crédit ouvert éstimatif</label>
                </div>
                <input type="number" class="form-control" aria-label="Sizing example input" min="0" step="any" required
                       id="credouvrestmod" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="credouvrreelmod">Crédit ouvert réel</label>
                </div>
                <input type="number" class="form-control" aria-label="Sizing example input" min="0" step="any" required
                       id="credouvrreelmod" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="engagepayemod">Engagé payé</label>
                </div>
                <input type="number" class="form-control" aria-label="Sizing example input" min="0" step="any" required
                       id="engagepayemod" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="input-group input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="engagenonpayemod">Engagé non payé</label>
                </div>
                <input type="number" class="form-control" aria-label="Sizing example input" min="0" step="any" required
                       id="engagenonpayemod" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="delete()" class="btn btn-outline-danger" data-dismiss="modal">Supprimer</button>
        <button type="button" (click)="update()" class="btn btn-outline-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>

