<div class="container-fluid">
  <div class="row col-md-12 justify-content-between">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          Création
        </div>
        <div class="card-body">
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="refsp">Référence sous projet</label>
            </div>
            <select name="" id="refsp" class="select form-control"
                    [(ngModel)]="budgetSousProjetClone.referenceSousProjet" required>
              <option selected disabled>------SELECT-------</option>
              <option *ngFor="let sp of sousProjets" value="{{sp.referenceSousProjet}}">{{sp.referenceSousProjet}}</option>
            </select>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="refea">Référence entité administratif</label>
            </div>
            <select [(ngModel)]="budgetEntiteAdmin.referenceEntiteAdministratif" id="refea" class="select form-control"
                    required>
              <option disabled selected>----------SELECT-----------</option>
              <option *ngFor="let ea of entiteAdministratif" value="{{ea.referenceEntiteAdministratif}}">{{ea.referenceEntiteAdministratif}}</option>
            </select>
            <div class="input-group-append">
              <button (click)="findAllByAnneeAndBudgetSousProjetAndBudgetEntitiAdmin()"
                      class="btn btn-outline-secondary fa fa-search"></button>
            </div>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverestimatif">Crédit ouvert éstimatif</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.creditOuvertEstimatif" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverestimatif"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverreel">Crédit ouvert réel</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.creditOuvertReel" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverreel"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagepaye">Engagé payé</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.engagePaye" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="engagepaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagenonpaye">Engagé non payé</label>
            </div>
            <input type="number" [(ngModel)]="detailleBudgetVo.engageNonPaye" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="engagenonpaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div>
            <input id="submit" (click)="addBudgetEntiteAdmin()" class="form-control btn btn-success" value="Ajouter"
                   type="button">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          List
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead class="thead">
            <tr>
              <th scope="col">REA</th>
              <th scope="col">COE</th>
              <th scope="col">COR</th>
              <th scope="col">EP</th>
              <th scope="col">ENP</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf=" budgetEntiteAdmins.length==0 && beas.length==0">
              <td class="text-center font-italic" colspan="6">No item found</td>
            </tr>
            <tr *ngFor="let bea of budgetEntiteAdmins" class="table-warning">
              <td>{{ bea.referenceEntiteAdministratif }}</td>
              <td>{{ bea.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bea.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bea.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bea.detaillesBudgetVo.engageNonPaye }}</td>
              <td>
                <button (click)="deleteBsp(bea)" class="btn btn-outline-danger fa fa-trash"></button>
              </td>
            </tr>
            <tr *ngFor="let bear of beas" class="table-info">
              <td>{{ bear.referenceEntiteAdministratif }}</td>
              <td>{{ bear.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bear.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bear.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bear.detaillesBudgetVo.engageNonPaye }}</td>
              <td>
                <button class="btn btn-outline-info fa fa-info mr-2" (click)="getBeaInfos(bear)" data-toggle="modal"
                        data-target="#exampleModalBeaInfo"></button>
                <button class="btn btn-outline-success fa fa-pencil" data-toggle="modal"
                        data-target="#exampleModalBeaUpDel"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalBeaInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <app-detailles [_selectedBudgetEntiteAdministratif]="selectedBea"></app-detailles>
</div>

