<div class="container-fluid">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-header">
        Détails budget de l'année {{budgetFaculte.annee}}
      </div>
      <div class="card-body">
        <div>
          <div class="row">
            <div class="col-md-3">Budget Projet</div>
            <div class="col-md-5">Budget Sous Projet</div>
            <div class="col-md-4">Budget Compte Budgitaire</div>
          </div>
          <div *ngFor="let bp of budgetFaculte.budgetProjetVos" class="row" style="margin-bottom: 1px">
            <div class="col-md-3" style="border: 1px solid black ">
              <div>{{bp.referenceProjet}}</div>
            </div>
            <div class="col-md-9">
              <table border="1" width="100%">
                <tr *ngFor="let bsp of bp.budgetSousProjetVos">
                  <td width="50%">{{bsp.referenceSousProjet}}</td>
                  <td width="50%">
                    <div *ngFor="let bcb of bsp.budgetCompteBudgitaireVos" style="border: 1px solid black ">
                      {{bcb.compteBudgitaireVo.code}}
                    </div>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary btn-block" (click)="saveAll()">Confirmation</button>
      </div>
    </div>
  </div>
</div>
