<div class="container-fluid">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-header">
        Détails budget de l'année {{budgetFaculte.annee}}
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Reference Projet</th>
            <th>Reference Sous Projet</th>
            <th>Code compte budgitaire</th>
          </tr>
          </thead>
          <!--<tr *ngIf="bfCreate.budgetSousProjetVo==null">
            <td class="font-italic text-center" colspan="3">No item found</td>
          </tr>-->
          <tbody *ngFor="let bp of budgetFaculte.budgetProjetVo">
          <tr>
            <td rowspan="bp.budgetSousProjetVos.length">{{bp.referenceProjet}}</td>
            <td *ngFor="let bsp of bp.budgetSousProjetVos">
              <tr>{{bsp.referenceSousProjet}}</tr>
            </td>
              <td rowspan="bp.budgetSousProjetVos.length">{{bp.referenceProjet}}</td>
          </tr>

          </tbody>
        </table>
        <button class="btn btn-outline-primary btn-block" (click)="saveAll()">Confirmation</button>
      </div>
    </div>
  </div>
</div>
