<div  class="container">
  <br>
  <div class="row">
    <div class="col-sm-5">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Responsabilite :</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="responsabilite.referenceResponsabilite" >
      </div>

      <div id="ajouter" class="container">
        <div class="row" style="justify-content: center">
          <input type="button" class="btn btn-outline-primary" value="Ajouter" (click)="addResponsabilite()" (click)="saveResponsabilite()">
        </div>
      </div>

    </div>
  <div class="col-sm-6" >
    <div class="card">
      <div class="card-header"> les responsabilites</div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col" >Poste</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let r of responsabilites">
        <td>{{r.referenceResponsabilite}}</td>
        <td><button class=" fa fa-edit cc btn btn-primary " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></button>
          <button (click)="deleteResponsabilite(r)"    class=" fa fa-trash btn btn-danger "></button></td>

      </tr>
      </tbody>
    </table>

  </div>
  </div>
</div>
</div>

<div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="DivDuForm2">
          <div class="row">
            <div class="col-sm-10">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" >Responsabilite :</span>
                </div>
                <input class="form-control" type="text"   />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-primary ">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- info -->
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabe">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez vous vraiment supprimer cet personnel
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">supprimer</button>
      </div>
    </div>
  </div>
</div>
