<div class="card spacer">
  <div class="card-header bg-info text-white">Recherche</div>
  <div class="card-body">
    <div class="form-row">
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Reference</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="commandeCherch.reference">
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Date min</span>
        </div>
        <input type="date" class="form-control"  [(ngModel)]="commandeCherch.dateMin">
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Date max</span>
        </div>
        <input type="date" class="form-control"  [(ngModel)]="commandeCherch.dateMax">
      </div>

      <div class=" col">
        <button class="btn btn-block btn-outline-info" (click)="chercherCommande()">Recherche</button>
      </div>
    </div>

  </div>
</div>
<!------>
<div class="row">
  <div class="col-md-7">

    <div class="container">
      <div class="card spacer">
        <div class="card-header bg-info text-white  ">Liste des commandes</div>
        <table class="table table-hover  ">
          <thead class="theadx"><th>Reference</th><th>total</th><th>TotalPaiement</th><th>action</th></thead>
          <tbody class="tbodyx">
          <tr *ngFor="let c of commandes">
            <td>{{c.reference}}</td>
            <td>{{c.total}}</td>
            <td>{{c.totalPaiement}}</td>
            <td ><button (click)="findPaiementByCommande(c)" class="btn btn-outline-dark fa fa-plus"></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!------>
  <div class="col-md-5">
    <div class="container" *ngIf="commandeSelected != null">
      <div class="card  spacer">
        <div class="card-header text-white bg-info ">LIST DES PAIEMMENTS :{{commandeSelected.reference}}</div>
        <table class="table table-hover">
          <thead class="theadx"><th>montant</th><th>date de paiement</th></thead>
          <tbody class="tbodyx">
          <tr *ngFor="let p of commandeSelected.paiementVos">
            <td>{{p.montant}}</td>
            <td>{{p.datePaiement}}</td>
          </tr>
          </tbody>
        </table>
        <button data-toggle="modal" data-target="#exampleModal" (click)="itemToModal(commandeSelected)"class="btn btn-outline-primary"><i class="fa fa-database"></i> ajouter paiement</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal paiement-->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Expression besoin item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-paiemment-modal></app-paiemment-modal>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


