<div>
  <h3 class=" text-center"  style="font-family: 'Agency FB'" > <b>Gestion des Personnels</b></h3>
</div>

<div class="container">
  <nav>
    <div class="nav nav-pills flex-column flex-sm-row" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Insérer Personnel</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Liste des personnels</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><app-personnel-create></app-personnel-create></div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"> <app-type-personnel></app-type-personnel></div>
  </div>
</div>
