<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-echelon-tab" data-toggle="tab" href="#nav-echelon" role="tab" aria-controls="nav-echelon" aria-selected="true">Echelons</a>
    <a class="nav-item nav-link" id="nav-echelle-tab" data-toggle="tab" href="#nav-echelle" role="tab" aria-controls="nav-echelle" aria-selected="false">Echelles</a>
    <a class="nav-item nav-link" id="nav-loi-evolution-tab" data-toggle="tab" href="#nav-loi-evolution" role="tab" aria-controls="nav-loi-evolution" aria-selected="false">Lois d'evolution</a>
    <a class="nav-item nav-link" id="nav-evolution-personnel-tab" data-toggle="tab" href="#nav-evolution-personnel" role="tab" aria-controls="nav-evolution-personnel" aria-selected="false">Evolutions personnel</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-echelon" role="tabpanel" aria-labelledby="nav-echelon-tab"><app-echelon></app-echelon></div>
  <div class="tab-pane fade" id="nav-echelle" role="tabpanel" aria-labelledby="nav-echelle-tab"><app-echelles></app-echelles></div>
  <div class="tab-pane fade" id="nav-loi-evolution" role="tabpanel" aria-labelledby="nav-loi-evolution-tab"><app-lois-evolution></app-lois-evolution></div>
  <div class="tab-pane fade" id="nav-evolution-personnel" role="tabpanel" aria-labelledby="nav-evolution-personnel-tab"><app-evolutions-personnel></app-evolutions-personnel></div>

</div>
