<nav class="navbar navbar-light navbar-expand-lg  bg-light ">
    <a class="navbar-brand">Espace Evolution</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class=" nav-item ">
                <a class="nav-link" href="#">A propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Page d'accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="echelles">Echelles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="echelons">Echelons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="lois">Loi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="evolution-personnel">Evoltuion du personnel</a>
            </li>

        </ul>
    </div>
</nav>
