<div class="row">
  <div class="input-group input-group col-md-2 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="creditouverestimatif">COE</label>
    </div>
    <input type="number"  [value]="detail.creditOuvertEstimatif" class="form-control colorInput"
           aria-label="Sizing example input" min="0" step="any" id="creditouverestimatif"
           aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="input-group input-group col-md-2 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="creditouverreel">COR</label>
    </div>
    <input type="number"  [value]="detail.creditOuvertReel" class="form-control colorInput"
           aria-label="Sizing example input" min="0" step="any"  id="creditouverreel"
           aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="input-group input-group col-md-2 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="engagepaye">E-P</label>
    </div>
    <input type="number"  [value]="detail.engagePaye" class="form-control colorInput"
           aria-label="Sizing example input" min="0" step="any"  id="engagepaye"
           aria-describedby="inputGroup-sizing-sm" disabled>
  </div>
  <div class="input-group input-group col-md-2 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="engagenonpaye">E-N-P</label>
    </div>
    <input type="number"  [value]="detail.engageNonPaye" class="form-control colorInput"
           aria-label="Sizing example input" min="0" step="any"  id="engagenonpaye"
           aria-describedby="inputGroup-sizing-sm" disabled >
  </div>
  <div class="input-group input-group col-md-2 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="relicaE">R-E</label>
    </div>
    <input type="number"  [value]="detail.reliquatEstimatif" class="form-control colorInput"
           aria-label="Sizing example input" min="0" step="any"  id="relicaE"
           aria-describedby="inputGroup-sizing-sm" disabled >
  </div>
  <div class="input-group input-group col-md-2 mb-2">
    <div class="input-group-prepend">
      <label class="input-group-text" for="relicaR">R-R</label>
    </div>
    <input type="number"  [value]="detail.reliquatReel" class="form-control colorInput"
           aria-label="Sizing example input" min="0" step="any"  id="relicaR"
           aria-describedby="inputGroup-sizing-sm" disabled >
  </div>





</div>
