<div class="row">
  <div class=" col-sm-12">

    <div class="card">
      <div class="card-header"> Liste des personnels</div>
      <table class="table table-hover table-sm ">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Cin</th>
          <th scope="col">Type Personnel</th>
          <th scope="col">Date debut de type Personnel</th>
          <th scope="col">Lieu D'affectation</th>
          <!-- <th scope="col">Numero de location</th>
           <th scope="col">Lieu de naissance</th>
           <th scope="col">Nombre d'enfants</th>
           <th scope="col">Date d'exercice d'echelle:</th>
           <th scope="col">Grade:</th>
           <th scope="col">Date d'activation:</th>
           <th scope="col">Date d'acces a la fonction publique</th>
           <th scope="col">Type personnel</th>

           <th scope="col">Code d'echelle:</th>
           <th scope="col">Code d'echelle:</th>
           <th scope="col">Code d'echelon</th>-->

        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let p of personnels ">

          <td>{{p.nom}}</td>
          <td>{{p.prenom}}</td>
          <td>{{p.cin}}</td>
          <td>{{p.typePersonnelVo.libelle}}</td>
          <td>{{p.dateDebutTypePersonnel}}</td>
          <td>{{p.lieuAffectation}}</td>
          <!-- <td>{{p.etatSocial}}</td>
          <td>{{p.numeroLocation}}</td>
          <td>{{p.lieuNaissance}}</td>
          <td>{{p.nombreEnfants}}</td>
          <td>{{p.dateExerciceEchelle}}</td>ss
          <td>{{p.grade}}</td>
          <td>{{p.dateActivation}}</td>
          <td>{{p.dateAccesFonctionPublique}}</td>
          <td>{{p.codeEchelle}}</td>
          <td>{{p.codeEchelon}}</td> -->
          <td>
            <button class="btn btn-outline-info fa fa-plus" data-toggle="modal" data-target="#exampleModal1"
                    data-whatever="@mdo" (click)="findByCin(p)"></button>
            <button class=" fa fa-edit cc btn btn-primary " data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo" (click)="findByCin(p)"></button>
            <button (click)="deletePersonnel(p)" class=" fa fa-trash btn btn-danger "></button>

          </td>

        </tbody>

      </table>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="exampleModal1" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <p>Nom et Prénom : {{personnelSelected.nom}} {{personnelSelected.prenom}}</p>
            <p>Cin : {{personnelSelected.cin}}</p>
          </div>
          <div class="col-md-4">
            <p>Type Personnel : {{personnelSelected.typePersonnelVo.libelle}}</p>
            <p>Date début type personnel : {{personnelSelected.dateDebutTypePersonnel}}</p></div>
          <div class="col-md-4">
            <p>Date d'activation : {{personnelSelected.dateActivation}}</p>
            <p>Lieu d'affectation : {{personnelSelected.lieuAffectation}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p>Date d'exercice d'echelle : {{personnelSelected.dateExerciceEchelle}}</p>
            <p>Date d'acces de la Fonction publique : {{personnelSelected.dateAccesFonctionPublique}}</p>
          </div>
          <div class="col-md-4">
            <p>Echelle : {{personnelSelected.referenceEchelle}}</p>
            <p>Etat social : {{personnelSelected.etatSocial}}</p>
            <p>Date de naissance : {{personnelSelected.dateNaissance}}</p>
          </div>
          <div class="col-md-4">
            <p>Echelon : {{personnelSelected.referenceEchelon}}</p>
            <p>Nombre d'enfants : {{personnelSelected.nombreEnfants}}</p>

          </div>

        </div>





      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>

      </div>
    </div>
  </div>
</div>


<div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form class="DivDuForm2">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nom :</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.nom}}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Prenom :</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.prenom}}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date de Naissance: </span>
                </div>
                <input class="form-control" type="date" value="{{personnelSelected.dateNaissance}}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Etat social:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.etatSocial}}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cin:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.cin}}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Numero de location:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.numeroLocation}}"/>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Lieu de naissance:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.lieuNaissance}}"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nombre d'enfants</span>
                </div>
                <input class="form-control" type="number" value="{{personnelSelected.nombreEnfants}}"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Lieu D'affectation:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.lieuAffectation}}"/>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date d'exercice d'echelle:</span>
                </div>
                <input class="form-control" type="date" value="{{personnelSelected.dateExerciceEchelle}}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Grade:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.grade}}"/>
              </div>


            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date d'activation:</span>
                </div>
                <input class="form-control" type="date" value="{{personnelSelected.dateActivation}}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date d'acces a la fonction publique</span>
                </div>
                <input class="form-control" type="date" value="{{personnelSelected.dateAccesFonctionPublique}}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Type personnel</span>

<!--        <input class="form-control" type="text" value="{{personnelSelected.typePersonnelVo.libelle}}"/>-->
                 <!--<select   class="form-control form-control-sm"  >
                   <option *ngFor="let tp of listTypePersonnels" >{{tp.libelle}} </option>
                 </select>-->
                <select class="form-control form-control-sm " >
                  <option > {{personnelSelected.typePersonnelVo.libelle}} </option>
                </select>
              </div>

            </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date debut de type Personnel</span>
                </div>
                <input class="form-control" type="date" value="{{personnelSelected.dateDebutTypePersonnel}}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Code d'echelle:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.referenceEchelle}}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Code d'echelon:</span>
                </div>
                <input class="form-control" type="text" value="{{personnelSelected.referenceEchelon}}"/>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-primary " (click)="saveUpdatePersonnel()">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- info -->

