<div style="padding-top: 3%">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Reference</th>
            <th scope="col">Ordre</th>
            <th scope="col">Libelle</th>
            <th scope="col">Description</th>
            <th scope="col">Liste des echelons</th>
            <th scope="col">Reference Type personnel</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark</td>
            <td>@twitter@twitter@twitter@twitter@twitter@twitter@twitter</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-outline-warning">Modifier</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger">Supprimer</button>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Mark</td>
            <td>@twitter@twitter@twitter@twitter@twitter@twitter@twitter</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-outline-warning">Modifier</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger">Supprimer</button>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>Mark</td>
            <td>@twitter@twitter@twitter@twitter@twitter@twitter@twitter</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>
                <button type="button" class="btn btn-outline-warning">Modifier</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

