<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        Budget Compte Budgitaire
      </div>
      <div>
        <div class="card-body d-lg-flex justify-content-center">
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="refsp">Réf sous projet</label>
              </div>
              <select  id="refsp" class="select form-control"
                      required>
                <option selected disabled>-------SELECT-------</option>
                <option ></option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="refea">Réf CB</label>
              </div>
              <select  id="refea" class="select form-control"
                      required>
                <option value="">----------SELECT-----------</option>
                <option ></option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <button
                      class="btn btn-outline-primary btn-block"><i class="fa fa-search">Search</i></button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <button   class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#myModalCompte"><i class="fa fa-plus">Nouveau Budget</i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card-title">List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
            <tr>


              <th scope="1">Compte Budgitair</th>
              <th scope="1">COE</th>
              <th scope="1">COR</th>
              <th scope="1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="budgetCompteBudgiaireList==null || budgetCompteBudgiaireList.length==0">
              <td colspan="4" class="font-italic text-center">No item Found</td>
            </tr>
            <tr *ngFor="let bcb of budgetCompteBudgiaireList">


              <td>{{bcb.compteBudgitaireVo.code}}</td>
              <td>{{bcb.detaillesBudgetVo.creditOuvertEstimatif}}</td>
              <td>{{bcb.detaillesBudgetVo.creditOuvertReel}}</td>

              <td>
                <button  class="btn btn-outline-danger fa fa-trash-o"
                        type="button"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="chartContainer" class="col-md-6 offset-3"></div>
</div>


<div class="modal" id="myModalCompte">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Budget Compte Budgitaire</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <app-budget-compte-budgitaire-create></app-budget-compte-budgitaire-create>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
