<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card-title"> budget Faculte:{{budgetSousProjet.budgetProjetVo.budgetFaculteVo.annee}} / budget Projet:{{budgetSousProjet.budgetProjetVo.referenceProjet}} / budget Sous Projet:{{budgetSousProjet.referenceSousProjet}}</h4>
      </div>
      <div>
        <div class="card-body d-lg-flex justify-content-center">
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" >Budget-Sous-Projet</label>
              </div>
              <select  class="form-control" [(ngModel)]="budgetSousProjetSelected" (change)="findBudgetCompteBudgitaire()">
                <option>---------SELECT---------</option>
                <option *ngFor="let bsp of budgetSousProjetList" [ngValue]="bsp">{{bsp.referenceSousProjet}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <button   class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#myModalCompte"><i class="fa fa-plus">Nouveau</i></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">

        <h4 class="card-title">List Budget Compte Budgitaire</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm text-center">
            <thead>
            <tr>


              <th scope="1">Compte Budgitair</th>
              <th scope="1">COE</th>
              <th scope="1">COR</th>
              <th scope="1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="budgetCompteBudgiaireList==null || budgetCompteBudgiaireList.length==0">
              <td colspan="4" class="font-italic text-center">No item Found</td>
            </tr>
            <tr *ngFor="let bcb of budgetCompteBudgiaireList">


              <td>{{bcb.compteBudgitaireVo.code}}</td>
              <td>{{bcb.detaillesBudgetVo.creditOuvertEstimatif}}</td>
              <td>{{bcb.detaillesBudgetVo.creditOuvertReel}}</td>

              <td>
                <button  class="btn btn-outline-danger fa fa-trash-o"
                     (click)="remove(bcb)"   type="button"></button>
                <button class="btn btn-outline-primary fa fa-info ml-2" (click)="detail(bcb)" data-toggle="modal" data-target="#detailCompte"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="chartContainer" class="col-md-6 offset-3"></div>
</div>


<div class="modal" id="myModalCompte">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Budget Compte Budgitaire</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <app-budget-compte-budgitaire-create></app-budget-compte-budgitaire-create>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
<div class="modal" id="detailCompte">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail Budget Faculte</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <app-detailles></app-detailles>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
