<div class="card">
  <div class="card-header">Result Livraison</div>
  <div class="card-body">
    <div class="card">
      <div class="row">
        <div class="form-group  col-sm-3">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Ref-l</div>
            </div>

            <input type="text" class="form-control" [(ngModel)]="livraisonQuery.reference">
          </div>
        </div>
        <div class="form-group col-sm-3">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">dateMax</div>
            </div>
            <input type="date"  class="form-control" [(ngModel)]="livraisonQuery.dateMax">
          </div>
        </div>
        <div class="form-group col-sm-3">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">dateMin</div>
            </div>
            <input type="date"  class="form-control" [(ngModel)]="livraisonQuery.dateMin">
          </div>
        </div>

        <div class="form-group  col-sm-3">

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">reference Commande</div>
            </div>

            <select class="custom-select" id="inputGroupSelect05" [(ngModel)]="livraisonQuery.referenceCommande" >
              <option selected>Choose...</option>
              <option  value="com-01">com-01</option>
              <option  value="com-02">com-02</option>
              <option  value="com-03">com-03</option>
            </select>
          </div>
        </div>


      </div>
      <div class="row text-center">
        <div class="col-12">
          <button class="btn btn-outline-info " (click)="findByQueryLivraison()">recherche</button>

        </div>
      </div>

    </div>
    <br>
    <br>
    <div class="card">
      <div class="row">

        <div class="card col-sm-6">
          <div class="card-header">livraisons</div>
          <div class="card-body">
    <table class="table table-hover table-sm">
      <thead> <th>Reference</th><th>date</th><th>ref-commd</th><th>Entite</th><th>ACTION</th></thead>
      <tbody>
      <tr *ngFor="let l of livraisons" >
        <td>{{l.reference}}</td>
        <td>{{l.date}}</td>
        <td>{{l.referenceCommande}}</td>
        <td>{{l.referenceEntite}}</td>
        <td><button class="btn btn-outline-success" (click)="livraisonItemsR(l)"><i class="fa fa-info"></i></button>
          <button class="btn btn-outline-danger" (click)="deleteLivraison(l)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button class="btn btn-outline-primary" (click)="print(l)" ><i class="fa fa-print" aria-hidden="true"></i></button>
        </td>

      </tr>
      </tbody>
    </table>
          </div>

        </div>

        <div class="card col-sm-6 text-center">
          <div class="card-header">livraison items</div>
          <div class="card-body">
          <table class="table table-hover table-sm">
            <thead> <th>Reference</th><th>qte</th><th>Magsin</th></thead>
            <tbody *ngIf="livraisonR==null">
            <tr >
              <td colspan="4"> No Items</td>
            </tr>
            </tbody>
            <tbody *ngIf="livraisonR!=null">
            <tr *ngFor="let li of livraisonR.livraisonItemVos" >
              <td>{{li.refenceProduit}}</td>
              <td>{{li.qte}}</td>
              <td>{{li.codeMagasin}}</td>
            </tr>
            </tbody>
          </table>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
