<div class="card">
  <div class="card-header">RESULTAT</div>
  <div class="card-body">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th>Magasin-reference</th>
        <th>Magasin-libelle</th>
        <th>Addresse</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let m of magasins">
        <td>{{m.reference}}</td>
        <td>{{m.libelle}}</td>
        <td>{{m.address}}</td>
        <td>{{m.description}}</td>
        <td>
          <button (click)="miseAjour(A)" class="btn-outline-primary"><i class="fa fa-edit"></i></button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>


</div>
