<div class="card-body">
  <div class="d-flex justify-content-center">
    <div class="input-group mt-1 col-md-4">
      <div class="input-group-prepend ">
        <span class="input-group-text">AppelOffre</span>
      </div>
      <select class="form-control" style="align-self: auto" type="text" [(ngModel)]="reference">
        <option>----SELECT----</option>
        <option *ngFor="let ap of allAppelOffre" value="{{ap.reference}}">{{ap.reference}}</option>-->
      </select>
      <div class="input-group-append">
        <button (click)="findOffresByAppelOffreReference()" class="btn btn-outline-primary"><i class="fa fa-search"></i>
        </button>
      </div>
    </div>

  </div>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
      <th>Objectif/reference</th>
      <th>Montant HT</th>
      <th>TVA</th>
      <th>Montant TTC</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let a of offres;let i=index;">
        <td>{{a.objectif}}/{{a.reference}}</td>
        <td>{{a.montantHt}}</td>
        <td>{{a.tva}}</td>
        <td>{{a.montantTtc}}</td>
        <td>
          <button (click)="offreDetailByOffreReference(a)"
                  class="btn btn-sm btn-outline-dark"><i class="fa fa-plus">Detail</i></button>
          <button (click)="removeOffre(a)"
                  class="btn btn-sm btn-outline-danger fa fa-trash"></button>

          <input [checked]="a.reference==bestOffre.reference" (click)="chekBestOffre(a);mode=i;" name="check"
                 type="radio" >

          <button *ngIf="mode==i" (click)="changeOffreToCommande(a)"
                  class="btn btn-sm btn-outline-success"><i class="fa fa-send">commande</i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
