<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-loi-tab" data-toggle="tab" href="#nav-loi" role="tab" aria-controls="nav-loi" aria-selected="true">Ajouter une loi d'evolution</a>
    <a class="nav-item nav-link" id="nav-shit-tab" data-toggle="tab" href="#nav-shit" role="tab" aria-controls="nav-contact" aria-selected="false">Liste des lois d'evolution</a>
    <a class="nav-item nav-link" id="nav-crap-tab" data-toggle="tab" href="#nav-crap" role="tab" aria-controls="nav-contact" aria-selected="false">Ajouter une loi d'evolution personnel</a>
    <a class="nav-item nav-link" id="nav-fagt-tab" data-toggle="tab" href="#nav-fagt" role="tab" aria-controls="nav-contact" aria-selected="false">Liste des lois d'evolution</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-loi" role="tabpanel" aria-labelledby="nav-loi-tab"><app-loi-evolution-create></app-loi-evolution-create></div>
  <div class="tab-pane fade" id="nav-shit" role="tabpanel" aria-labelledby="nav-shit-tab"><app-loi-evolution-list></app-loi-evolution-list></div>
  <div class="tab-pane fade" id="nav-crap" role="tabpanel" aria-labelledby="nav-crap-tab"><app-loi-evolution-type-personnel-create></app-loi-evolution-type-personnel-create></div>
  <div class="tab-pane fade" id="nav-fagt" role="tabpanel" aria-labelledby="nav-fagt-tab"><app-loi-evolution-type-personnel-list></app-loi-evolution-type-personnel-list></div>
</div>

