<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ajouter une Appel d'Offre</a>
    <a class="nav-item nav-link" id="nav-offre-tab" data-toggle="tab" href="#nav-offre" role="tab" aria-controls="nav-offre" aria-selected="flase">Ajouter Offre</a>
    <a class="nav-item nav-link" id="nav-liste-tab" data-toggle="tab" href="#nav-liste" role="tab" aria-controls="nav-liste" aria-selected="false">Liste des appels d'offres</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><app-appel-offre-create></app-appel-offre-create></div>
  <div class="tab-pane fade" id="nav-offre" role="tabpanel" aria-labelledby="nav-offre-tab"><app-offres-create></app-offres-create></div>
  <div class="tab-pane fade" id="nav-liste" role="tabpanel" aria-labelledby="nav-liste-tab"><app-appel-offre-liste></app-appel-offre-liste></div>

</div>
