<div class="row">
  <div class="col-md-4">
    <div class="card spacer">
      <div class="card-header mb-3">Info AppelOffre</div>
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Objectif</span>
          </div>
          <textarea class="form-control" type="text" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                    [(ngModel)]="appelOffre.objectif"></textarea>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Reference</span>
          </div>
          <input class="form-control" type="text" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 [(ngModel)]="appelOffre.reference"/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Data</span>
          </div>
          <input class="form-control" type="date" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 [(ngModel)]="appelOffre.date"/>
        </div>
        <br>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Montant HT</span>
          </div>
          <input class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                 [(ngModel)]="appelOffre.montantHT" disabled/>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">TVA</span>
          </div>
          <input class="form-control" (keydown)="recalcule()" (keypress)="recalcule()" (keyup)="recalcule()" type="number" [(ngModel)]="appelOffre.tva"/>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Montant TTC</span>
          </div>
          <input class="form-control" type="number" step="0.01" [(ngModel)]="appelOffre.montantTTC" disabled/>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Montant Garantie Temporaire</span>
          </div>
          <input class="form-control" step="0.01" type="number" [(ngModel)]="appelOffre.montantGarantieTemp" disabled/>
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="card spacer">
      <div class="card-header mb-3">Produit de l'appel d'offre</div>
      <div class="card-body">
        <div class="form-row">
          <div class="col">
            <label>Reference Produit</label>
            <select class="form-control" [(ngModel)]="appelOffreDetail.refProduit">
              <option>---------SELECT---------</option>
              <option *ngFor="let pr of products" value="{{pr.reference}}">{{pr.reference}}</option>
            </select>
          </div>
          <div class="col">
            <label>Prix Unitaire</label>
            <input class="form-control" type="number"  [(ngModel)]="appelOffreDetail.prixUnitaire"/>
          </div>
          <div class="col">
            <label>Quantite</label>
            <input class="form-control" type="number" [(ngModel)]="appelOffreDetail.quantite"/>
          </div>
        </div>
        <div class="row" style="justify-content: center">
          <button class="btn btn-outline-info mt-4 fa fa-plus" (click)="addAppelOffreDetail()">Add Produit</button>
        </div>
      </div>
    </div>
    <div class="spacer">
      <div class="table-responsive">
        <table class="table table-hover ">
          <thead class="thead-light">
          <th>RefProduit</th>
          <th>PrixUnitaire</th>
          <th>Quantite</th>
          <th>Total</th>
          <th>Action</th>
          </thead>
          <tbody>
          <tr *ngFor="let a of appelOffreDetails">
            <td>{{a.refProduit}}</td>
            <td>{{a.prixUnitaire}}</td>
            <td>{{a.quantite}}</td>
            <td>{{a.total}}</td>
            <td><button class="btn btn-outline-danger" (click)="removeDetails(a)"><i class="fa fa-remove"></i></button></td>
          </tr>
          </tbody>
        </table>
      </div>
      <button style="margin: auto" (click)="savAppelOffre()" class="btn btn-block btn-outline-success fa fa-check">Save
        AppelOffre
      </button>

    </div>

  </div>
</div>





