<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Entité Administrative </span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="entiteAdministratif.referenceEntiteAdministratif">

      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Type Entité Administrative </span>
        </div>
        <!--<input class="form-control" type="text" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet"/>-->
         <select   class="form-control form-control-sm" [(ngModel)]="entiteAdministratif.typeEntiteAdministratifVo.libelle" >
           <option value="{{t.libelle}}"  *ngFor="let t of listTypeEntite" > {{t.libelle}}</option>
         </select>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Sous projet </span>
        </div>
       <!-- <input class="form-control" type="text" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet"/>-->
        <select   class="form-control form-control-sm" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet" >
          <option  value="{{e.referenceSousProjet}}"  *ngFor="let e of listSousProjet" > {{e.referenceSousProjet}}</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Chef EntitéAdmin </span>
        </div>
        <!-- <input class="form-control" type="text" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet"/>-->
        <select   class="form-control form-control-sm" [(ngModel)]="entiteAdministratif.chefVo.cin"  >
          <option value="{{p.cin}}"  *ngFor="let p of listPersonnels"  > <b>  {{p.typePersonnelVo.libelle}}</b> : {{ p.nom}}-{{p.prenom}}</option>
        </select>
      </div>

      <div id="ajouter" class="container">
        <div class="row" style="justify-content: center">
          <input type="button" class="btn btn-outline-primary" value="Ajouter" (click)="addEntiteAdministratif()"
                 (click)="saveEntiteAdministratif()">
        </div>

      </div>

    </div>

    <div class="col-sm-8">
      <div class="card spacer border border-primary">
        <div class="card-header text-black text-center "> <b>RECHERCHE</b></div>
        <div class="card-body">
          <div class="form-row">

            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Entité Admin</span>
                </div>
                <select class="form-control form-control-sm" [(ngModel)]="entiteRecherche.referenceEntiteAdministratif">
                  <option value="">=====Select=====</option>
                  <option  value="{{e.referenceEntiteAdministratif}}" *ngFor="let e of listEntites"> {{e.referenceEntiteAdministratif}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Type Entité</span>
                </div>
                <select   class="form-control form-control-sm" [(ngModel)]="entiteRecherche.typeEntiteAdministratifVo.libelle" >
                  <option value="">=====Select=====</option>
                  <option  value="{{t.libelle}}" *ngFor="let t of listTypeEntite" > {{t.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Sous projet</span>
                </div>
                <select   class="form-control form-control-sm" [(ngModel)]="entiteRecherche.sousProjetVo.referenceSousProjet" >
                  <option value="">=====Select=====</option>
                  <option  value="{{e.referenceSousProjet}}" *ngFor="let e of listSousProjet" > {{e.referenceSousProjet}}</option>
                </select>
              </div>
            </div>

            <div class="col-md">
              <button class="btn btn-block btn-outline-info" (click)="rechercheEntite()">Recherche</button>
            </div>
          </div>

        </div>

      </div>
      </div>
    </div>
  <br><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center border border-primary ">
        <div class="card-header border border-primary"> <b>LES ENTITE ADMINISTRATIVES</b></div>
        <table class="table table-hover table-sm  ">
          <thead>
          <tr>
            <th scope="col">Entité Admin</th>
            <th scope="col">Sous Projet</th>
            <th scope="col">Type Entité Admin</th>
            <th scope="col">Responsable</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let e of entiteAdministratifs">
            <td>{{e.referenceEntiteAdministratif}}</td>
            <td>{{e.sousProjetVo.referenceSousProjet}}</td>
            <td>{{e.typeEntiteAdministratifVo.libelle}}</td>
            <td> Pr.{{e.chefVo.nom}}-{{e.chefVo.prenom}}</td>

            <td>
              <button class=" fa fa-edit cc btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal"
                      data-whatever="@mdo" (click)="setEntiteSelect(e)" ></button>
              <button (click)="deleteEntite(e)" class=" fa fa-trash btn btn-sm btn-danger "></button>
              <button class="fa fa-download cc btn btn-sm btn-primary" aria-hidden="true"
                      data-whatever="@mdo" (click)="printEntite(e.referenceEntiteAdministratif)"></button>
            </td>

          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  </div>

<div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="DivDuForm2">
          <div class="col-sm">
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Entité Administrative </span>
              </div>
              <input type="text" class="form-control"
                     [(ngModel)]="entiteAdministratifToUpdate.referenceEntiteAdministratif"
                     [ngModelOptions]="{standalone: true}">

            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Type Entité Administrative </span>
              </div>
              <!--<input class="form-control" type="text" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet"/>-->
              <select   class="form-control form-control-sm" [(ngModel)]="entiteAdministratifToUpdate.typeEntiteAdministratifVo.libelle" [ngModelOptions]="{standalone: true}" >
                <option  value="{{t.libelle}}" *ngFor="let t of listTypeEntite" > {{t.libelle}}</option>
              </select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Sous projet </span>
              </div>
              <!-- <input class="form-control" type="text" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet"/>-->
              <select   class="form-control form-control-sm" [(ngModel)]="entiteAdministratifToUpdate.sousProjetVo.referenceSousProjet" [ngModelOptions]="{standalone: true}" >
                <option  *ngFor="let e of listSousProjet" > {{e.referenceSousProjet}}</option>
              </select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Chef EntitéAdmin </span>
              </div>
              <!-- <input class="form-control" type="text" [(ngModel)]="entiteAdministratif.sousProjetVo.referenceSousProjet"/>-->
              <select   class="form-control form-control-sm" [(ngModel)]="entiteAdministratifToUpdate.chefVo.cin" [ngModelOptions]="{standalone: true}"  >
                <option value="{{p.cin}}"  *ngFor="let p of listPersonnels"  >  {{p.typePersonnelVo.libelle}}: {{ p.nom}}-{{p.prenom}}</option>
              </select>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-primary" (click)="saveUpdateEntite()" >Update</button>
      </div>
    </div>
  </div>
</div>

<!-- info -->
<!-- Modal -->

<br>
<br>
