<div class="container-fluid">
  <div class="row col-md-12">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          Création
        </div>
        <div class="card-body">
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="reference">Référence</label>
            </div>
            <select [(ngModel)]="budgetSousprojet.referenceSousProjet" id="reference" class="select form-control"
                    required>
              <option disabled selected>----------SELECT-----------</option>
              <option *ngFor="let sp of findAll" [(value)]="sp.referenceSousProjet">{{sp.referenceSousProjet}}</option>
            </select>
            <div class="input-group-append">
              <button (click)="findAllByAnneeAndBudgetSousProjet()" class="btn btn-outline-secondary fa fa-search"></button>
            </div>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverestimatif">Crédit Ouvert Estimatif</label>
            </div>
            <input type="number" value="{{ !!bspInfo ? bspInfo.detaillesBudgetVo.creditOuvertEstimatif:null}}"
                   [(ngModel)]="detaillesBudgetVo.creditOuvertEstimatif" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverestimatif"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="creditouverreel">Crédit Ouvert Reel</label>
            </div>
            <input type="number" value="{{ !!bspInfo ? bspInfo.detaillesBudgetVo.creditOuvertReel:null}}"
                   class="form-control" [(ngModel)]="detaillesBudgetVo.creditOuvertReel"
                   aria-label="Sizing example input" min="0" step="any" required id="creditouverreel"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagepaye">Engagé payé</label>
            </div>
            <input type="number" value="{{ !!bspInfo ? bspInfo.detaillesBudgetVo.engagePaye:null}}" class="form-control"
                   [(ngModel)]="detaillesBudgetVo.engagePaye"
                   aria-label="Sizing example input" min="0" step="any" required id="engagepaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagenonpaye">Engagé non payé</label>
            </div>
            <input type="number" value="{{ !!bspInfo ? bspInfo.detaillesBudgetVo.engageNonPaye:null}}"
                   class="form-control" [(ngModel)]="detaillesBudgetVo.engageNonPaye"
                   aria-label="Sizing example input" min="0" step="any" required id="engagenonpaye"
                   aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="row">
            <div class="col-6">
              <input type="button" (click)="addBudgetSousProjet()" class="form-control btn btn-success" value="Ajouter"/>
            </div>
            <div class="col-6">
              <input type="button" (click)="update()" class="form-control btn btn-primary" value="Ok"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          List
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th scope="1">RSP</th>
              <th scope="1">COE</th>
              <th scope="1">COR</th>
              <th scope="1">EP</th>
              <th scope="1">ENP</th>
              <th scope="1">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="budgetsSousProjets==null">
              <td class="text-center font-italic" colspan="6">No item added</td>
            </tr>
            <tr *ngFor="let bsp of budgetsSousProjets" (click)="tableInfo(bsp)">
              <td>{{ bsp.referenceSousProjet }}</td>
              <td>{{ bsp.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bsp.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bsp.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bsp.detaillesBudgetVo.engageNonPaye }}</td>
              <td>
                <button type="button" class="btn btn-outline-info fa fa-info mr-2"
                        (click)="setBudgetSousProjetInfos(bsp)" data-toggle="modal"
                        data-target="#exampleModalBspInfo"></button>
                <button type="button" (click)="deleteBsp(bsp)" class="btn btn-outline-danger fa fa-trash"></button>
              </td>
            </tr>
            <!--<tr *ngFor="let bsprech of bsps" class="table-info">
              <td>{{bsprech.referenceSousProjet}}</td>
              <td>{{ bsprech.detaillesBudgetVo.creditOuvertEstimatif }}</td>
              <td>{{ bsprech.detaillesBudgetVo.creditOuvertReel }}</td>
              <td>{{ bsprech.detaillesBudgetVo.engagePaye }}</td>
              <td>{{ bsprech.detaillesBudgetVo.engageNonPaye }}</td>
              <td>
                <button class="btn btn-outline-info fa fa-info mr-2" (click)="getBspInfos(bsprech)" data-toggle="modal"
                        data-target="#exampleModalBspInfo"></button>
                <button class="btn btn-outline-success fa fa-pencil" data-toggle="modal"
                        data-target="#exampleModalBspUpDel"></button>
              </td>
            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal pour infos-->
<div class="modal fade" id="exampleModalBspInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <app-detailles [_selectedBsp]="_selectedBsp"></app-detailles>
</div>

