<div class="container" style="padding: 3%">
    <form>
        <div class="form-group">
            <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la refrence de l'echelle">
                <div class="input-group-prepend">
                    <div class="input-group-text">Reference</div>
                </div>
                <input type="text" class="form-control" id="reference" name="reference" placeholder="Reference" [(ngModel)]="loiEvolution.reference">
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la date debut de la loi">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Date Debut</div>
                        </div>
                        <input type="date" class="form-control" id="dateDebut" name="dateDebut" [(ngModel)]="loiEvolution.dateDebut">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la date fin de la loi">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Date Fin</div>
                        </div>
                        <input type="date" class="form-control" id="dateFin" name="dateFin" [min]="loiEvolution.dateDebut" [(ngModel)]="loiEvolution.dateFin">
                    </div>
                </div>
            </div>
            <br>
            <div class="input-group mb-2" data-toggle="tooltip" title="Entrer la description de la loi">
                <div class="input-group-prepend">
                    <div class="input-group-text">Description</div>
                </div>
                <textarea class="form-control" id="description" name="description" placeholder="description" [(ngModel)]="loiEvolution.description"
                          rows="3"></textarea>
            </div>
            <br>
            <button type="button" class="btn btn-outline-success" (click)="addLoiEvolution()">Ajouter</button>
        </div>
    </form>
</div>

