<div style="padding-top: 3%">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reference</th>
      <th scope="col">Reference Type Personnel</th>
      <th scope="col">Echelon Depart</th>
      <th scope="col">Echelon Fin</th>
      <th scope="col">Nombre d'annees</th>
      <th scope="col">Loi evolution</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <button type="button" class="btn btn-outline-warning">Modifier</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger">Supprimer</button>
      </td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mark</td>
      <td>Mark</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <button type="button" class="btn btn-outline-warning">Modifier</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger">Supprimer</button>
      </td>
    </tr>
    <tr>
      <th>3</th>
      <td>Larry</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>the Bird</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <button type="button" class="btn btn-outline-warning">Modifier</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>



