<div class="card spacer border border-primary ">
  <div class="card-header text-black text-center "><b>RECHERCHE</b></div>
  <div class="card-body">
    <div class="form-row">
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text">Type Personnel</span>
        </div>
        <select class="form-control form-control " [(ngModel)]="personnelRecherche.typePersonnelVo.libelle">
          <option value="">=====Select=====</option>
          <option value="{{tp.libelle}}" *ngFor="let tp of listTypePersonnels"> {{tp.libelle}}</option>
        </select>
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text">Personnel-CIN</span>
        </div>
        <!--<select   class="form-control form-control" [(ngModel)]="personnelRecherche.cin" >
          <option value="">=====Select=====</option>
          <option  value="{{p.cin}}" *ngFor="let p of listPersonnels" > {{p.cin}} : {{p.nom}}-{{p.prenom}}</option>
        </select>-->
        <input type="text" class="form-control" [(ngModel)]="personnelRecherche.cin">
      </div>

      <div class=" col">
        <button class="btn btn-block btn-outline-info" (click)="recherchePersonnel()">Recherche</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class=" col-sm-12">
    <div class="card text-center border border-primary">
      <div class="card-header border border-primary "><b> LISTE DES PERSONNELS</b></div>

      <table class="table table-sm table-hover ">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Cin</th>
          <th scope="col">Type Personnel</th>
          <th scope="col">Date début type personnel</th>
          <th scope="col">Grade</th>
          <!-- <th scope="col">Numero de location</th>
           <th scope="col">Lieu de naissance</th>
           <th scope="col">Nombre d'enfants</th>
           <th scope="col">Date d'exercice d'echelle:</th>
           <th scope="col">Grade:</th>
           <th scope="col">Date d'activation:</th>
           <th scope="col">Date d'acces a la fonction publique</th>
           <th scope="col">Type personnel</th>

           <th scope="col">Code d'echelle:</th>
           <th scope="col">Code d'echelle:</th>
           <th scope="col">Code d'echelon</th>-->
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let p of personnels ">

          <td>{{p.nom}}</td>
          <td>{{p.prenom}}</td>
          <td>{{p.cin}}</td>
          <td>{{p.typePersonnelVo.libelle}}</td>
          <td>{{p.dateDebutTypePersonnel}}</td>
          <td> {{p.grade}}</td>
          <!-- <td>{{p.etatSocial}}</td>
          <td>{{p.numeroLocation}}</td>
          <td>{{p.lieuNaissance}}</td>
          <td>{{p.nombreEnfants}}</td>
          <td>{{p.dateExerciceEchelle}}</td>ss
          <td>{{p.lieuAffectation}}</td>
          <td>{{p.dateActivation}}</td>
          <td>{{p.dateAccesFonctionPublique}}</td>
          <td>{{p.codeEchelle}}</td>
          <td>{{p.codeEchelon}}</td> -->
          <td>
            <button class="btn btn-sm btn-outline-info fa fa-plus" data-toggle="modal" data-target="#exampleModal1"
                    data-whatever="@mdo" (click)="findByCin(p)"></button>
            <button class=" fa fa-edit cc btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo" (click)="setPersonnelSelect(p)"></button>
            <button (click)="deletePersonnel(p)" class=" fa fa-trash btn btn-sm btn-danger "></button>
            <button class="fa fa-download cc btn btn-sm btn-primary" aria-hidden="true"
                    data-whatever="@mdo" (click)="printPersonnel(p.cin)"></button>

          </td>

        </tbody>

      </table>


      <!--<div class="text-center">
        <button id="download" (click)="print()" class="btn btn-outline">
          <span style="color: dodgerblue" class="fa fa-download"> </span>
          <span  class="text-secondary" > Exporter sous format PDF tous les personnels </span>
        </button>
      </div>-->

    </div>
  </div>

</div>
<br> <br>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="exampleModal1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <p><b>Nom et Prénom :</b> {{personnelSelected.nom}} {{personnelSelected.prenom}}</p>
            <p><b> Cin : </b> {{personnelSelected.cin}}</p>
          </div>
          <div class="col-md-4">
            <p><b> Type Personnel :</b> {{personnelSelected.typePersonnelVo.libelle}}</p>
            <p><b> Date début type personnel :</b> {{personnelSelected.dateDebutTypePersonnel}}</p></div>
          <div class="col-md-4">
            <p><b> Date d'activation :</b> {{personnelSelected.dateActivation}}</p>
            <p><b> Lieu d'affectation :</b> {{personnelSelected.lieuAffectation}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p><b> Date d'exercice d'echelle :</b> {{personnelSelected.dateExerciceEchelle}}</p>
            <p><b> Date d'acces de la Fonction publique :</b> {{personnelSelected.dateAccesFonctionPublique}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Echelle : </b> {{personnelSelected.referenceEchelle}}</p>
            <p><b> Etat social : </b>{{personnelSelected.etatSocial}}</p>
            <p><b> Date de naissance :</b> {{personnelSelected.dateNaissance}}</p>
          </div>
          <div class="col-md-4">
            <p><b> Echelon :</b> {{personnelSelected.referenceEchelon}}</p>
            <p><b> Nombre d'enfants :</b> {{personnelSelected.nombreEnfants}}</p>

          </div>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form class="DivDuForm2">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nom :</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.nom"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Prenom :</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.prenom"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date de Naissance: </span>
                </div>
                <input class="form-control" type="date" [(ngModel)]="personnelToUpdate.dateNaissance"
                       [ngModelOptions]="{standalone: true}" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Etat social:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.etatSocial"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Cin:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.cin"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Numero de location:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.numeroLocation"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Lieu de naissance:</span>
                </div>
                <input class="form-control" type="date" [(ngModel)]="personnelToUpdate.lieuNaissance"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Lieu D'affectation:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.lieuAffectation"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nombre d'enfants</span>
                </div>
                <input class="form-control" type="number" [(ngModel)]="personnelToUpdate.nombreEnfants"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date d'exercice d'echelle:</span>
                </div>
                <input class="form-control" type="date" [(ngModel)]="personnelToUpdate.dateExerciceEchelle"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Grade:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.grade"
                       [ngModelOptions]="{standalone: true}"/>
              </div>


            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date d'activation:</span>
                </div>
                <input class="form-control" type="date" [(ngModel)]="personnelToUpdate.dateActivation"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date d'acces a la fonction publique</span>
                </div>
                <input class="form-control" type="date" [(ngModel)]="personnelToUpdate.dateAccesFonctionPublique"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Type personnel</span>

                  <select class="form-control form-control-sm " [(ngModel)]="personnelToUpdate.typePersonnelVo.libelle"
                          [ngModelOptions]="{standalone: true}" >
                    <option *ngFor="let tp of listTypePersonnels" >{{tp.libelle}}</option>
                  </select>
                  <!--<select class="form-control form-control-sm " >
                    <option > {{personnelSelected.typePersonnelVo.libelle}} </option>
                  </select>-->
                </div>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date debut de type Personnel</span>
                </div>
                <input class="form-control" type="date" [(ngModel)]="personnelToUpdate.dateDebutTypePersonnel"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Code d'echelle:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.referenceEchelle"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Code d'echelon:</span>
                </div>
                <input class="form-control" type="text" [(ngModel)]="personnelToUpdate.referenceEchelon"
                       [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-primary " (click)="saveUpdatePersonnel()">Update</button>
      </div>

    </div>
  </div>
</div>

<!-- info -->

