<div class="container-fluid">
  <div class="row col-md-12">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          Création
        </div>
        <div class="card-body">
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="anneeMin">Année Min</label>
            </div>
            <input type="number" [(ngModel)]="budgetFaculteVo.annee" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="anneeMin"
                   aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <button class="btn btn-outline-primary fa fa-search" (click)="bfinfo()"></button>
            </div>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="anneeMax">Année Max</label>
            </div>
            <input type="number" [(ngModel)]="budgetFaculteVo1.annee" class="form-control"
                   aria-label="Sizing example input" min="0" step="any" required id="anneeMax"
                   aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
              <button class="btn btn-outline-primary fa fa-search" (click)="findByAnneeMinAndAnneeMax()"></button>
            </div>
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="coe">Crédit Ouvert Estimatif</label>
            </div>
            <input type="number" class="form-control"
                   [(ngModel)]="detaillesBudgetVo.creditOuvertEstimatif" aria-label="Sizing example input" min="0"
                   step="any" required id="coe" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="cor">Crédit Ouvert Réel</label>
            </div>
            <input type="number" class="form-control"
                   [(ngModel)]="detaillesBudgetVo.creditOuvertReel" aria-label="Sizing example input" min="0" step="any"
                   required id="cor" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagepaye">Engagé payé</label>
            </div>
            <input type="number" class="form-control"
                   [(ngModel)]="detaillesBudgetVo.engagePaye" aria-label="Sizing example input" min="0" step="any"
                   required id="engagepaye" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="engagenonpaye">Engagé non payé</label>
            </div>
            <input type="number" class="form-control"
                   [(ngModel)]="detaillesBudgetVo.engageNonPaye" aria-label="Sizing example input" min="0" step="any"
                   required id="engagenonpaye" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          List
        </div>
        <div class="card-body">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="1">Annee</th>
                <th scope="1">COE</th>
                <th scope="1">COR</th>
                <th scope="1">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bf of budgetFacultes">
                <td>{{bf.annee}}</td>
                <td>{{bf.detaillesBudgetVo.creditOuvertEstimatif}}</td>
                <td>{{bf.detaillesBudgetVo.creditOuvertReel}}</td>
                <td><button type="button" (click)="delete(bf.annee)" class="btn btn-outline-danger fa fa-trash-o"></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

