<div class="container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        Budget Faculte
      </div>
      <div>
        <div class="card-body d-lg-flex justify-content-center">
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="anneeMin">Année Min</label>
              </div>
              <input [(ngModel)]="budgetFaculteVo.annee" aria-describedby="inputGroup-sizing-sm"
                     aria-label="Sizing example input"
                     class="form-control" id="anneeMin" min="0" required step="any"
                     type="number">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="anneeMax">Année Max</label>
              </div>
              <input [(ngModel)]="budgetFaculteVo1.annee" aria-describedby="inputGroup-sizing-sm"
                     aria-label="Sizing example input"
                     class="form-control" id="anneeMax" min="0" required step="any"
                     type="number">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <button (click)="findByCreteriaAnneMinAndAnneMax()"
                      class="btn btn-outline-primary btn-block"><i class="fa fa-search">Search</i></button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group input-group mb-3">
              <button   class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#myModalFaculte"><i class="fa fa-plus">Nouveau Budget</i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header text-center">
        <h4 class="card-title">List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th scope="1">Annee</th>
              <th scope="1">COE</th>
              <th scope="1">COR</th>
              <th scope="1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="budgetFacultes.length==0">
              <td colspan="4" class="font-italic text-center">No item Found</td>
            </tr>
            <tr (click)="budgetSousProjetInfo(bf)" *ngFor="let bf of budgetFacultes">
              <td>{{bf.annee}}</td>
              <td>{{bf.detaillesBudgetVo.creditOuvertEstimatif}}</td>
              <td>{{bf.detaillesBudgetVo.creditOuvertReel}}</td>
              <td>
                <button (click)="delete(bf.annee)" class="btn btn-outline-danger fa fa-trash-o"
                        type="button"></button>
                <button (click)="downloadPdf(bf)" *ngIf="bf.id!=0"
                        class="btn btn-outline-secondary fa fa-print ml-2"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="chartContainer" class="col-md-6 offset-3"></div>
</div>


<div class="modal" id="myModalFaculte">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create Budget Faculte</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      <app-budget-faculte-create></app-budget-faculte-create>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>
