<div class="card spacer">
  <div class="card-header text-black">Recherche</div>
  <div class="card-body">
    <div class="form-row">
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Reference</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="commandeCherch.reference">
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Date min</span>
        </div>
        <input type="date" class="form-control"  [(ngModel)]="commandeCherch.dateMin">
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Date max</span>
        </div>
        <input type="date" class="form-control" [(ngModel)]="commandeCherch.dateMax" >
      </div>

      <div class=" col">
        <button class="btn btn-block btn-outline-info" (click)="chercherCommande()">Recherche</button>
      </div>
    </div>

  </div>



</div>
<div class="row">
  <div class="col-md-7">

    <div class="container">
      <div class="card spacer">
        <div class="card-header text-black">Liste des commandes</div>
        <table class="table table-hover  ">
          <thead class="theadx"><th>Reference</th><th>total</th><th>detail</th><th>suprimer</th></thead>
          <tbody class="tbodyx">
          <tr *ngFor="let c of commandes" >
            <td>{{c.reference}}</td>
            <td>{{c.total}}</td>
            <td ><button (click)="findCommandeItemByReference(c)" class="btn btn-outline-dark fa fa-plus"></button></td>
            <td><button data-toggle="modal" data-target="#deleteModal" class="btn btn-danger fa fa-trash" (click)="itemToModal(c)" ></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!------>
  <div class="col-md-5">
    <div class="container" *ngIf="commandeSelected != null">
      <div class="card  spacer">
        <div class="card-header text-black">list des produits {{commandeSelected.reference}}</div>
        <table class="table table-hover">
          <thead class="theadx"><th>Reference</th><th>prix</th><th>qte</th></thead>
          <tbody class="tbodyx">
          <tr *ngFor="let c of commandeSelected.commandeItemVos">
            <td>{{c.referenceProduit}}</td>
            <td>{{c.prix}}</td>
            <td>{{c.qte}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<!-- Supprimer commande-->
<div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >supprimer commande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>l'élément selctionné va être supprimer</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger fa fa-trash" (click)="deletCommande()" data-dismiss="modal"> confirmer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abondonner</button>
      </div>
    </div>
  </div>
</div>
