<br>
<div class="container ">


  <div class="row">
    <!--<div class="col-sm-3">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" >Libelle Projet :</span>
        <input type="text" class="form-control"  [(ngModel)]="projet.libelleP">
      </div>
    </div>
    </div>-->
    <div class="col-md-4">
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Libelle Projet :</label>
        </div>
        <input [(ngModel)]="projet.libelleP" aria-describedby="inputGroup-sizing-sm" class="form-control" type="text">
        <div class="input-group-append">
          <button (click)="findSousProjet()" class="btn btn-outline-primary fa fa-search"></button>
        </div>
      </div>
    </div>
    <div class="col-sm-3">

      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Libelle sous Projet :</span>
          <input type="text" class="form-control" [(ngModel)]="sousProjet.referenceSousProjet">
        </div>
      </div>
      <div class="container">
        <div class="row" style="justify-content: center">
          <input type="button" class="btn btn-sm btn-outline-primary" value="Ajoutez sousProjet"
                 (click)="addSousProjet()">
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div> Les sous projets :</div>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">Libelle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of sousProjets">
          <td>{{p.referenceSousProjet}}</td>
          <td>
            <button class="btn btn-outline-danger fa fa-times" (click)="eleminer(p)"></button>
          </td>
          <!--<td><button class=" fa fa-edit cc btn btn-primary " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"></button>
          <button (click)="deleteProjet(p)" class=" fa fa-trash btn btn-danger "></button></td>-->
        </tr>
        <div id="ajouter" class="container">
          <div class="row" style="justify-content: center">
            <button (click)="saveProjet()" class="btn btn-outline-primary"> SAVE ALL</button>
          </div>
        </div>
        </tbody>
      </table>
    </div>


  </div>


  <div class="row">
    <div class=" col-sm-6">

      <div class="card text-center ">
        <div class="card-header"> Liste des Projets</div>
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <th scope="col">LibelleP</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of Projets">
            <td>{{p.libelleP}}</td>
            <td>

              <button class="btn btn-sm btn-outline-info fa fa-plus"
                      (click)="findSousProjetByLibelleProjet(p)"></button>
              <button class=" fa fa-edit cc btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal"
                      data-whatever="@mdo" (click)="findSousProjetByLibelleProjet(p)"></button>
              <button (click)="deleteProjet(p)" class=" fa fa-trash btn btn-sm btn-danger "></button>
              <button class="fa fa-download cc btn btn-sm btn-primary" aria-hidden="true"
                      data-whatever="@mdo" (click)="printProjet(p.libelleP)"></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-sm-6" *ngIf="projetSelected != null">
      <div class="card-header"> Liste des sous Projet de projet selectionné {{projetSelected.libelleP}}</div>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">Libelle sous projet</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let sp of projetSelected.sousProjetsVo">
          <td>{{sp.referenceSousProjet}}</td>
          <td>
            <button class="btn btn-outline-danger fa fa-times" (click)="deleteSousProjet(sp)"></button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-body">
        <form class="DivDuForm2">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Projet  :</span>
                </div>
                <input class="form-control" type="text" value="{{projetSelected.libelleP}}"/>
              </div>
            </div>
          </div>
          <div class="col-sm-6">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-primary " (click)="saveUpdateProjet()">Update</button>
      </div>
    </div>
  </div>
</div>



