
<div class="card spacer">
  <div class="card-header text-black">Recherche</div>
  <div class="card-body">
    <div class="form-row">

      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Personnel-CIN</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="mandat.personnelVo.cin" >
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Entite Administratif</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="mandat.entiteAdministratifVo.referenceEntiteAdministratif" >
      </div>
      <div class="input-group mb-2 col">
        <div class="input-group-prepend">
          <span class="input-group-text" >Responsabilité</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="mandat.responsabiliteVo.referenceResponsabilite" >
      </div>

      <div class=" col">
        <button class="btn btn-block btn-outline-info" (click)="chercherMandatByPersonnelCin">Recherche</button>
      </div>
    </div>

  </div>



</div>

<div class="row">
  <div class=" col-sm-12">

    <div class="card">
      <div class="card-header"> Liste des personnels</div>
      <table class="table table-hover table-sm ">
        <thead>
        <tr>
          <th scope="col">Date debut mandat</th>
          <th scope="col">Date fin mandat</th>
          <th scope="col">Personnel</th>
          <th scope="col">Responsabilite</th>
          <th scope="col">Entite Administratif</th>

        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let m of mandats ">

          <td>{{m.dateDebutMandat}}</td>
          <td>{{m.dateFinMandat}}</td>
          <td>{{m.personnelVo.cin}} : {{m.personnelVo.nom}}-{{m.personnelVo.prenom}}</td>
          <td>{{m.responsabiliteVo.referenceResponsabilite}}</td>
          <td>{{m.entiteAdministratifVo.referenceEntiteAdministratif}}</td>
          <td>
            <button class=" fa fa-edit cc btn btn-primary " data-toggle="modal" data-target="#exampleModal"
                    data-whatever="@mdo"></button>
            <button (click)="deleteMandat(m)" class=" fa fa-trash btn btn-danger "></button>
          </td>

        </tbody>

      </table>
    </div>
  </div>
</div>


<div class=" modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <form class="DivDuForm2">

          <div class="row">
            <div class="col-sm-9">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date debut mandat : </span>
                </div>
                <input class="form-control" type="date"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Date fin mandat : </span>
                </div>
                <input class="form-control" type="date"/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class=" btn btn-primary ">Update</button>
      </div>
    </div>
  </div>
</div>
