





    <table class="table">
      <tr>
        <td>Description</td>
        <td>{{expressionBesoinItemSelect.description}}</td>
      </tr>
      <tr>
        <td>QTE Demandé</td>
        <td>{{expressionBesoinItemSelect.quantiteDemande}}</td>
      </tr>
      <tr>
        <td>QTE Commandé</td>
        <td>{{expressionBesoinItemSelect.quantiteCommander}}</td>
      </tr>
      <tr>
        <td>QTE livré</td>
        <td>{{expressionBesoinItemSelect.quantiteLivre}}</td>
      </tr>
      <tr >
        <td>QTE Accordé</td>
        <td><input type="number" class="form-control"   [(ngModel)]="expressionBesoinItemSelect.quantiteAccorder"></td>
      </tr>


    </table>

    <button  (click)="accorder(expressionBesoinItemSelect)" data-dismiss="modal" class="btn btn-outline-info btn-block" > Accorder</button>

