





    <table class="table">
      <tr>
        <td>Description</td>
        <td>{{expressionBesoinItemUpdate.description}}</td>
      </tr>
      <tr>
        <td>QTE Demandé</td>
        <td><input type="number" class="form-control"   [(ngModel)]="expressionBesoinItemUpdate.quantiteDemande"></td>
      </tr>
      <tr>
        <td>QTE Commandé</td>
        <td>{{expressionBesoinItemUpdate.quantiteCommander}}</td>
      </tr>
      <tr>
        <td>QTE livré</td>
        <td>{{expressionBesoinItemUpdate.quantiteLivre}}</td>
      </tr>
      <tr >
        <td>QTE Accordé</td>
        <td><input type="number" class="form-control"   [(ngModel)]="expressionBesoinItemUpdate.quantiteAccorder"></td>
      </tr>


    </table>

    <button  (click)="accorder()" data-dismiss="modal" class="btn btn-outline-info btn-block" > Accorder</button>

