<div class="row">

  <!-- creation commande -->
  <div class="col-md-4">
    <div class="card spacer">
      <div class="card-header text-white  bg-info mb-3">CREATION DE COmmande</div>
      <div class="card-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Reference</span>
          </div>
          <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="commande.reference">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Total</span>
          </div>
          <input type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="commande.total">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Date</span>
          </div>
          <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="commande.dateCommande">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" >Fournisseur</span>
          </div>
          <select class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="commande.fournisseurVo.reference">
            <option value="">select</option>
            <option *ngFor="let c of fournisseurs()">{{c.reference}}</option>
          </select>
        </div>


      </div>
    </div>
  </div>

  <!-- creation item -->
  <div class="col-md-8">
    <div class="card spacer">
      <div class="card-header text-white bg-info mb-3">Produit</div>
      <div class="card-body">
        <div class="form-row">
          <div class="col">
            <label>reference produit</label>

            <input class="form-control" type="text" [(ngModel)]="commandeItem.referenceProduit">

          </div>

          <div class="col">
            <label>prix</label>

            <input class="form-control" type="number" [(ngModel)]="commandeItem.prix">

          </div>

          <div class="col">
            <label>quantite</label>

            <input class="form-control" type="number" [(ngModel)]="commandeItem.qte">

          </div>





          <button (click)="addCommandeItem()" class="btn btn-outline-info mt-4 fa fa-plus"> Ajouter</button>



        </div>
      </div>
    </div>
    <!-- table de la commande-->
    <div class="spacer">
      <table class="table table-hover ">
        <thead class="thead-light"><th>reference</th><th>prix</th><th>qte</th><th>ELEMINER</th></thead>
        <tbody>
        <tr *ngFor="let c of commandeItems">
          <td>{{c.referenceProduit}}</td>
          <td>{{c.prix}}</td>
          <td>{{c.qte}}</td>
          <td><button class="btn btn-outline-danger fa fa-times" (click)="eleminer(e)"></button> </td>
        </tr>
        </tbody>
      </table>
      <button style="margin: auto" (click)="saveCommande()" class="btn btn-block btn-outline-success fa fa-check">  Save Commande</button>
    </div>

  </div>

</div>
