<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-echelle-add" data-toggle="tab" href="#nav-add" role="tab" aria-controls="nav-home" aria-selected="true">Ajouter une echelle</a>
    <a class="nav-item nav-link" id="nav-echelle-get" data-toggle="tab" href="#nav-get" role="tab" aria-controls="nav-contact" aria-selected="false">Liste des echelles</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-add" role="tabpanel" aria-labelledby="nav-echelle-add"><app-echelle-create></app-echelle-create></div>
  <div class="tab-pane fade" id="nav-get" role="tabpanel" aria-labelledby="nav-echelle-get"><app-echelle-list></app-echelle-list></div>
</div>

