<div>
  <div class="card text-center">
    <div class="card-header">CHOISIR TYPE DE LIVRAISON</div>
    <div class="card-body">

      <br>
      <!-- Default inline 1-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample"
               (click)="modeGlobal=2">
        <label class="custom-control-label" for="defaultInline1">livraison detaillé</label>
      </div>

      <!-- Default inline 2-->
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample"
               (click)="modeGlobal=1">
        <label class="custom-control-label" for="defaultInline2">livraison total</label>
      </div>

      <br>
      <br>
    </div>

  </div>

</div>


<!---------------------le premier cas--------------------->
<div *ngIf="modeGlobal==1">
  <app-livraison-globale></app-livraison-globale>

</div>

<div *ngIf="modeGlobal==2">
  <app-livraison-detaille></app-livraison-detaille>

</div>
<!---------------------------------------------->

